.listaTarefas {
  grid-area: tarefas;
  height: 100%;

  h2 {
    font-size: 1.25rem;
    margin-bottom: 12px;
  }

  ul {
    max-height: 350px;
    overflow-y: scroll;
    scrollbar-width: thin;

    li {
      list-style: none;
    }
  }

  @media screen and (min-width: 1280px) {
    h2 {
      text-align: center;
      font-size: 2.25rem;
      margin-bottom: 24px;
    }

    ul {
      overflow: auto;
      max-height: 500px;
    }
  }
}

.item {
  background-color: #615e5e;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-bottom: 12px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;

  h3 {
    margin-bottom: 8px;
    word-break: break-word;
    color: #f6f0f0;
  }

  span {
    color: #e8e0e0;
  }

  &:hover {
    background-color: #d5d5d5;
  }

  @media screen and (min-width: 1280px) {
    font-size: 1.8rem;
  }
}
